body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#name-uni {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh; /* Ensure it covers full viewport height */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
  font-size: 16px;
}

.resume-holder {
  text-align: center;


}

.uni {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 600px) {
  .uni {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    font-size: 14px; /* Adjust the font size as needed */
  }
}


#about-me,
#interests,
#readings,
#resources {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px; /* Use padding for spacing instead of large margins */
  margin: 0 400px;
}

#about-me-list,
#interests ul,
#readings ul,
#resources ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#readings ul li,
#resources ul li{
  margin-bottom: 10px; /* Adjust the value as needed */
}


#picture-section .visuals {
  text-align: center;
  padding-bottom: 50px;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.picture-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

#circle-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  z-index: -1;
}

/* Responsive sizes */
@media (max-width: 768px) {
  #circle-image {
    width: 100%;
    height: auto;
  }
  .picture-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .uni {
    font-size: 13px;
  }
  #about-me,
  #interests,
  #readings,
  #resources {
    margin: 0 20px;
  }
}
