body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
  }

  #name-uni {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name {
    text-align: center;
    font-size: 16px;
  }

  .uni {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px; /* Default font size for non-mobile devices */

    /* Media query for mobile devices */
    @media (max-width: 767px) {
        font-size: 14px; /* Adjust the font size for mobile devices */
    }
}

  #interests {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh;
  }

  #interests ul {
    display: flex;
    flex-direction: column;
    list-style: none; 
  }

  #picture-section .visuals {
    text-align: center;
    padding-bottom: 50px;
  }
  
  
.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.picture-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

#circle-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px; /* Adjust the width to your desired size */
  height: 800px; /* Adjust the height to your desired size */
  z-index: -1;
}

      /* Responsive sizes*/
      @media (max-width: 768px) {
        #circle-image {
          width: 100%;
          height: auto;
        }
        .picture-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      }